/*MAIN*/

main {
    width: 100%;
    background-image: url(../img/AlRIHLA.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.titulo1 {
    color: map-get($colores, color-primary);
    font-family: 'Russo One', sans-serif;
    font-size: 100px;
    padding: 30px;
    background-color: rgba(95, 95, 95, 0.877);

}

.img1 {
    width: 660px;
    height: 450px;
    transition: 0.5s;

}

.img1:hover {
    opacity: 0.9;
    transform: scale(1.1);
    border-radius: 30px;
}

.img2 {
    width: 690px;
    height: 450px;
    transition: 0.5s;
}

.img2:hover {
    opacity: 0.9;
    transform: scale(1.1);
    border-radius: 30px;
}

.p2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Russo One', sans-serif;
    font-size: 45px;
    padding: 40px;
    background-color: rgba(95, 95, 95, 0.877);


}


.p3 {
    display: flex;
    width: 660px;
    text-align: center;
    justify-content: center;
    color: map-get($colores, color-secondary);
    font-family: 'Russo One', sans-serif;
    font-size: 40px;
    padding: 25px;
    background-color: rgba(95, 95, 95, 0.877);
    transition: 0.7s;
}

.p3:hover {
    color: map-get($colores, color-tertiary);
}

.p4 {
    display: flex;
    width: 690px;
    text-align: center;
    justify-content: center;
    color: map-get($colores, color-secondary);
    font-family: 'Russo One', sans-serif;
    font-size: 40px;
    padding: 25px;
    background-color: rgba(95, 95, 95, 0.877);
    transition: 0.7s;
}

.p4:hover {
    color: map-get($colores, color-tertiary);
}

.p5 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    font-size: 30px;
    font-family: 'Caveat', cursive;
    color: map-get($colores, color-secondary);
    background-color: rgba(95, 95, 95, 0.877);
    border: 4px outset rgba(95, 95, 95, 0.555);
}

.tex1 {
    display: flex;
    justify-content: center;
    text-align: center;
    color: map-get($colores, color-tertiary);
    font-family: 'Russo One', sans-serif;
    font-size: 40px;
    text-decoration: underline;
}

.tex2 {
    display: flex;
    justify-content: center;
    text-align: center;
    color: map-get($colores, color-tertiary);
    font-family: 'Caveat', cursive;
    font-size: 40px;
}

.titulogrupos {
    font-size: 30px;
    font-family: 'Russo One', sans-serif;
    text-align: center;
    justify-content: center;
    color: map-get($colores, color-tertiary);
    text-decoration: underline;
}

.integrantes {
    justify-content: center;
    color: map-get($colores, color-secondary);
    border: 2px solid rgba(95, 95, 95, 0.877);
    border-radius: 30px;
    font-size: 25px;
    font-family: 'Russo One', sans-serif;
    text-align: center;
    background-image: linear-gradient(to left, rgb(255, 255, 255), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
    padding: 10px;
    display: flex;

}

.banderas {
    width: 35px;
    height: 35px;
}

/*GALERIA*/

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


.mySlides {
    display: none;
}


.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: map-get($colores, color-secondary);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


.prev:hover,
.next:hover {
    background-color: map-get($colores, color-primary);
}


.text {
    color: map-get($colores, color-secondary);
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


.numbertext {
    color: map-get($colores, color-secondary);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}





input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}


label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}


input[type=submit] {
    background-color: rgb(11, 126, 180);
    color: map-get($colores, color-secondary);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}


.container2 {
    margin: auto;
    width: 800px;
    background-color: map-get($colores, color-secondary);
    padding: 20px;
    border: 5px outset rgba(95, 95, 95, 0.555);
    border-radius: 5px;
}


.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}


.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

.form1 {

    font-family: 'Russo One', sans-serif;
}


/*GIRDS*/

.container1 {
    display: grid;
    width: 100%;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr 2.5fr 1.5fr;
    gap: 20px 0px;
}

.h2 {
    grid-area: 1 / 1 / 3 / 2;
}

.fotopricipalmain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-area: 2 / 1 / 3 / 2;
}

.foto1 {
    grid-area: 1 / 1 / 2 / 3;
    width: 100%;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.foto2 {
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
    display: flex;
    justify-content: right;
    flex-direction: column;
}

.Parrafomain {
    grid-area: 3 / 1 / 4 / 2;
}




.container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr 2fr 2fr;
    gap: 25px 25px;
    grid-template-areas:
        "grupoa grupob"
        "grupoc grupod"
        "grupoe grupof"
        "grupog grupoh";
}

.grupoa {
    display: grid;
    border: 3px solid map-get($colores, color-primary);
    background-color: rgba(95, 95, 95, 0.877);
    border-radius: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr 1.5fr 1.5fr 1.5fr;
    gap: 0px 0px;
    grid-template-areas:
        "."
        "."
        "."
        "."
        ".";
    grid-area: grupoa;
}

.grupob {
    display: grid;
    background-color: rgba(95, 95, 95, 0.877);
    border-radius: 30px;
    border: 3px solid map-get($colores, color-primary);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr 1.5fr 1.5fr 1.5fr;
    gap: 0px 0px;
    grid-template-areas:
        "."
        "."
        "."
        "."
        ".";
    grid-area: grupob;
}

.grupoc {
    display: grid;
    border: 3px solid map-get($colores, color-primary);
    background-color: rgba(95, 95, 95, 0.877);
    border-radius: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr 1.5fr 1.5fr 1.5fr;
    gap: 0px 0px;
    grid-template-areas:
        "."
        "."
        "."
        "."
        ".";
    grid-area: grupoc;
}

.grupod {
    display: grid;
    border: 3px solid map-get($colores, color-primary);
    background-color: rgba(95, 95, 95, 0.877);
    border-radius: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr 1.5fr 1.5fr 1.5fr;
    gap: 0px 0px;
    grid-template-areas:
        "."
        "."
        "."
        "."
        ".";
    grid-area: grupod;
}

.grupoe {
    display: grid;
    border: 3px solid map-get($colores, color-primary);
    background-color: rgba(95, 95, 95, 0.877);
    border-radius: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr 1.5fr 1.5fr 1.5fr;
    gap: 0px 0px;
    grid-template-areas:
        "."
        "."
        "."
        "."
        ".";
    grid-area: grupoe;
}

.grupof {
    display: grid;
    border: 3px solid map-get($colores, color-primary);
    background-color: rgba(95, 95, 95, 0.877);
    border-radius: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr 1.5fr 1.5fr 1.5fr;
    gap: 0px 0px;
    grid-template-areas:
        "."
        "."
        "."
        "."
        ".";
    grid-area: grupof;
}

.grupog {
    display: grid;
    border: 3px solid map-get($colores, color-primary);
    background-color: rgba(95, 95, 95, 0.877);
    border-radius: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr 1.5fr 1.5fr 1.5fr;
    gap: 0px 0px;
    grid-template-areas:
        "."
        "."
        "."
        "."
        ".";
    grid-area: grupog;
}

.grupoh {
    display: grid;
    border: 3px solid map-get($colores, color-primary);
    background-color: rgba(95, 95, 95, 0.877);
    border-radius: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr 1.5fr 1.5fr 1.5fr;
    gap: 0px 0px;
    grid-template-areas:
        "."
        "."
        "."
        "."
        ".";
    grid-area: grupoh;
}


@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.c1 {
    border-radius: 30px;
}